<!DOCTYPE html>
<html lang="en">
    <head>
        <title>The Giginator</title>
        <link rel="stylesheet" href="/static/css/main.css" type="text/css" charset="utf-8">
    </head>
    <body>
        {% include 'header.html' %}
        
        <h1>Browse</h1><br>
        <div class="ticketdisplay">
            {% for event in available_events %}
                {% with ticket_type = "available" %}
                    {% include 'ticket.html' %}
                {% endwith %}
            {% endfor %}

            {% for event in booked_events %}
                {% with ticket_type = "booked" %}
                    {% include 'ticket.html' %}
                {% endwith %}
            {% endfor %}

            {% for event in sold_events %}
                {% with ticket_type = "sold" %}
                    {% include 'ticket.html' %}
                {% endwith %}
            {% endfor %}

        </div>
        {% include 'footer.html' %}
    </body>
        
</html>